$pbgs:
"000_va2d4.jpg",
"11043907.webp",
"251512-matt-pokora-sa-statue-de-cire-diapo-1.jpg",
"3185212-kendji-girac-pose-au-cote-de-sa-statue-a-950x0-1.jpg",
"3966475-nicolas-sarkozy-avec-son-double-de-cire-950x0-3.jpg", 
"43252812.jpg",
"4674100.jpg-r_1280_720-f_jpg-q_x-xxyxx.jpg",
"4768271-eric-antoine-jeff-panacloc-inaugure-sa-950x0-2.jpg",
"5131332938598.jpg",
"538521-mika-et-son-double-du-musee-grevin-950x0-2.jpg",
"5903075-daniel-craig-et-sean-connery-wachsfigure-950x0-1.jpg",
"5edf6f492878c_pierre_richard_grevin-3956809.jpg",
"5edf8a1bf2d64_off_pere_fouras_au_musee_grevin-00_00_01_20-4298872.jpg",
"697832-362590-jpg_479822.jpg",
"870x489_philippe_jaroussky_a_grevin_photo_virginie_ribaut_1.jpg",
"9a399a9acbde77c915760d06989f3f23.jpg",
"BESTIMAGE-00545583-000031.jpg",
"cyril.jpg",
"deconnade-parisienne-musee-grevin.jpg",
"image.jpg",
"images0.persgroep.jpg",
"inauguration-statue-michael-jackson-grevin.webp",
"Jenifer.jpg",
"La statue de Mbappé fait son entrée au musée.jpg",
"le-pass-tele-loisirs-vous-invite-au-musee-grevin-tout-savoir-sur-la-realisation-des-statues-de-cire.jpg",
"Maitre-Gims-a-sa-statue-au-musee-Grevin.jpg",
"Martin-Fourcade-gauche-posesa-statue-25-musee-Grevin_0.webp",
"Matt+Pokora.jpg",
"musee-grevin1.jpg",
"Nikos-aliagas-grevin.jpg",
"photos-anne-roumanoff-seduite-par-sa-statue-au-musee-grevin.jpg",
"photos-kad-merad-inaugure-sa-statue-de-cire-au-musee-grevin.jpg",
"Photos-Laetitia-Casta-la-bombe-francaise-a-inaugure-sa-statue-au-musee-Grevin-!.jpg",
"stromae.jpg",
"tumblr_inline_ohxd41Rfin1rrd5ve_500.jpg",
"tumblr_inline_ohxd7nyKS81rrd5ve_500.jpg",
"XVM806c5978-23b1-11e8-a08d-0ef2079ac73d.webp",
"000_va2d4.jpg",
"11043907.webp",
"251512-matt-pokora-sa-statue-de-cire-diapo-1.jpg",
"3185212-kendji-girac-pose-au-cote-de-sa-statue-a-950x0-1.jpg",
"3966475-nicolas-sarkozy-avec-son-double-de-cire-950x0-3.jpg", 
"43252812.jpg",
"4674100.jpg-r_1280_720-f_jpg-q_x-xxyxx.jpg",
"4768271-eric-antoine-jeff-panacloc-inaugure-sa-950x0-2.jpg",
"5131332938598.jpg",
"538521-mika-et-son-double-du-musee-grevin-950x0-2.jpg",
"5903075-daniel-craig-et-sean-connery-wachsfigure-950x0-1.jpg",
"5edf6f492878c_pierre_richard_grevin-3956809.jpg",
"5edf8a1bf2d64_off_pere_fouras_au_musee_grevin-00_00_01_20-4298872.jpg",
"697832-362590-jpg_479822.jpg",
"870x489_philippe_jaroussky_a_grevin_photo_virginie_ribaut_1.jpg",
"9a399a9acbde77c915760d06989f3f23.jpg",
"BESTIMAGE-00545583-000031.jpg",
"cyril.jpg",
"deconnade-parisienne-musee-grevin.jpg",
"image.jpg",
"images0.persgroep.jpg",
"inauguration-statue-michael-jackson-grevin.webp",
"Jenifer.jpg",
"La statue de Mbappé fait son entrée au musée.jpg",
"le-pass-tele-loisirs-vous-invite-au-musee-grevin-tout-savoir-sur-la-realisation-des-statues-de-cire.jpg",
"Maitre-Gims-a-sa-statue-au-musee-Grevin.jpg",
"Martin-Fourcade-gauche-posesa-statue-25-musee-Grevin_0.webp",
"Matt+Pokora.jpg",
"musee-grevin1.jpg",
"Nikos-aliagas-grevin.jpg",
"photos-anne-roumanoff-seduite-par-sa-statue-au-musee-grevin.jpg",
"photos-kad-merad-inaugure-sa-statue-de-cire-au-musee-grevin.jpg",
"Photos-Laetitia-Casta-la-bombe-francaise-a-inaugure-sa-statue-au-musee-Grevin-!.jpg",
"stromae.jpg",
"tumblr_inline_ohxd41Rfin1rrd5ve_500.jpg",
"tumblr_inline_ohxd7nyKS81rrd5ve_500.jpg",
"XVM806c5978-23b1-11e8-a08d-0ef2079ac73d.webp",
"000_va2d4.jpg",
"11043907.webp",
"251512-matt-pokora-sa-statue-de-cire-diapo-1.jpg",
"3185212-kendji-girac-pose-au-cote-de-sa-statue-a-950x0-1.jpg",
"3966475-nicolas-sarkozy-avec-son-double-de-cire-950x0-3.jpg", 
"43252812.jpg",
"4674100.jpg-r_1280_720-f_jpg-q_x-xxyxx.jpg",
"4768271-eric-antoine-jeff-panacloc-inaugure-sa-950x0-2.jpg",
"5131332938598.jpg",
"538521-mika-et-son-double-du-musee-grevin-950x0-2.jpg",
"5903075-daniel-craig-et-sean-connery-wachsfigure-950x0-1.jpg",
"5edf6f492878c_pierre_richard_grevin-3956809.jpg",
"5edf8a1bf2d64_off_pere_fouras_au_musee_grevin-00_00_01_20-4298872.jpg",
"697832-362590-jpg_479822.jpg",
"870x489_philippe_jaroussky_a_grevin_photo_virginie_ribaut_1.jpg",
"9a399a9acbde77c915760d06989f3f23.jpg",
"BESTIMAGE-00545583-000031.jpg",
"cyril.jpg",
"deconnade-parisienne-musee-grevin.jpg",
"image.jpg",
"images0.persgroep.jpg",
"inauguration-statue-michael-jackson-grevin.webp",
"Jenifer.jpg",
"La statue de Mbappé fait son entrée au musée.jpg",
"le-pass-tele-loisirs-vous-invite-au-musee-grevin-tout-savoir-sur-la-realisation-des-statues-de-cire.jpg",
"Maitre-Gims-a-sa-statue-au-musee-Grevin.jpg",
"Martin-Fourcade-gauche-posesa-statue-25-musee-Grevin_0.webp",
"Matt+Pokora+Sculpture+hyperrealiste+hyperrealisme+hyperrealistic+hyperrealism+scenographie+scenography+experience+immersive+set+design+decors+decoration+visual+merchandising+museum+exposition+immersion+immersif.jpg",
"musee-grevin1.jpg",
"Nikos-aliagas-grevin.jpg",
"photos-anne-roumanoff-seduite-par-sa-statue-au-musee-grevin.jpg",
"photos-kad-merad-inaugure-sa-statue-de-cire-au-musee-grevin.jpg",
"Photos-Laetitia-Casta-la-bombe-francaise-a-inaugure-sa-statue-au-musee-Grevin-!.jpg",
"stromae.jpg",
"tumblr_inline_ohxd41Rfin1rrd5ve_500.jpg",
"tumblr_inline_ohxd7nyKS81rrd5ve_500.jpg",
"XVM806c5978-23b1-11e8-a08d-0ef2079ac73d.webp";

$main-color: #bd0f3e;
$secondary-color: #c89d01;